
    <%= render "layouts/headerInverse" %>

<br><br><br>
<div class="videoContainer">
	<iframe src="https://player.vimeo.com/video/97059921" width="600" height="381" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<p><a href="https://vimeo.com/97059921">Plane Tuc-Ita</a> from <a href="https://vimeo.com/user28691747">Sebastian Nee</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

		<iframe width="600" height="381" src="https://www.youtube.com/embed/-crr-ydSguk" frameborder="0" allowfullscreen></iframe>
</div>


<style type="text/css">
.videoContainer{
	text-align: center;
}
body{
	background-color: black;
}

@media only screen and (max-width: 768px) {
    iframe{
  	width: 550px;
  	height: 371px;
  }
}


</style>